body {
    background-color: rgb(192, 227, 140);
}

#title {
    font-size: 4vw;
    padding-top: 1vw;
    font-family: 'Noto Sans Nag Mundari', sans-serif;
}

#subhead {
    font-size: 2.5vw;
    padding: 1.5vw;
    font-family: 'Noto Sans Nag Mundari', sans-serif;
}

#dashed-container {
    border: 0.3vw black dashed;
    width: 34vw;
    padding-bottom: 2.5vw;
}

button {
    font-size: 1.5vw;
    height: 11vh;
    width: 14.5vw;
    border: 0.2vw solid rgb(88, 184, 88);
    background-color: rgb(88, 184, 88);
    border-radius: 0.5vw;
    transition: ease-in 250ms border;
    transition: ease-in 250ms color;
    font-family: 'Playfair Display', serif;
}

button:hover {
    border: 0.1vw solid rgb(88, 184, 88);
    color: rgb(88, 184, 88);
    background: #fff;
  }